.photo-container {
    animation: fadeIn 1s 1s backwards;
}

.photo {
    width: 40%;
    height: 650px;
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 15px 15px rgba($color: #000000, $alpha: 0.3);
    animation: rotate 6s linear infinite;
    animation-delay: 4s;
    animation-timing-function: ease-in-out 0.5s;
}

@keyframes rotate {
    100%{-webkit-transform: rotateY(360deg);}
}